/* 2022-04-19 - luci */
:root {
  --color-brand-1: #5a8cd2;
  --color-link: #00e;
  --color-white-0: #fff;
  --color-white-1: #fefefe;
  --color-white-2: #fafafa;
  --color-white-3: #f0f0f0;
  --color-gray: #908e8c;
  --color-black-0: #000;
  --color-black-1: #222;
  --color-black-2: #333;
  --color-black-3: #3a3836;
  --color-shadow: 0deg 0% 70%;
  --font-stack: "Times New Roman", -apple-system, BlinkMacSystemFont, system-ui, "Segoe UI", sans-serif;
}
html,
body {
  height: 100%;
  margin: 0;
}
body {
  background-color: var(--color-white-0);
  display: flex;
  flex-direction: column;
  font: 16px var(--font-stack);
  text-size-adjust: none;
  -webkit-text-size-adjust: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul,
li {
  margin: 0;
  padding: 0;
}
a {
  color: currentColor;
  position: relative;
  text-decoration: none;
}
nav,
header,
main,
footer {
  padding: 0 1.5rem;
}

/* NAV */
nav {
  background-color: var(--color-brand-1);
  color: var(--color-white-0);
}
.nav-container {
  display: flex;
  align-items: stretch;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 60rem;
}
#nav-brand {
  display: flex;
  align-items: center;
  height: 3rem;
  font-size: 1.8rem;
}
/* --- */
/* HEADER-FOOTER */
.header-container,
.footer-container {
  margin: 1rem auto;
  max-width: 60rem;
}
.header-1,
.header-2 {
  font: 1.5rem var(--font-stack);
  margin: 1rem 0;
}
.header-2 {
  font-size: 1.2rem;
}
/* ------------- */

main {
  background-color: var(--color-white-1);
  box-shadow: inset 0 0.1rem var(--color-white-3), inset 0 -0.1rem var(--color-white-3);
  flex-grow: 1;
}
.main-container {
  display: flex;
  flex-direction: column;
  margin: 1rem auto 1rem;
  max-width: 60rem;
}
.section-container {
  display: flex;
  flex-wrap: wrap;
}
.section-container > section {
  flex: 1;
}
.section-container > .width-two-thirds {
  flex: 2;
  min-width: 20rem;
}
section > .section-header:not(:first-child) {
  margin-top: 2rem;
}
.section-header {
  margin: 1rem;
}
.section-body {
  margin: 1rem;
}
.link-blue {
  color: var(--color-link);
}

#form-ratings {
  background: var(--color-white-2);
  border: 1px solid var(--color-gray);
  display: grid;
  /* grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr)); */
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 0.2rem;
  padding: 1rem;
}
#form-ratings > label {
  grid-column: 1 / 2;
  text-align: right;
}
#form-ratings > .label-no-input {
  font-weight: bold;
  grid-column: 1 / 3;
  text-align: center;
}
#form-ratings > .label-no-input:not(:first-child) {
  border-top: 1px solid var(--color-gray);
  margin-top: 0.5rem;
  padding-top: 0.7rem;
}
#form-ratings > label + *,
#form-ratings button {
  grid-column: 2 / 3;
}
#form-ratings > * {
  font: inherit;
  padding: 0.2rem;
}
#form-ratings > input {
  background: var(--color-white-0);
  border: 1px solid var(--color-gray);
}
#form-ratings .bold {
  font-weight: bold;
}
#form-ratings .output {
  background: none;
  border: none;
  color: var(--color-black-0);
}
#form-ratings button {
  background: var(--color-white-3);
}
